
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.jumbotron.jumbo {
    margin-bottom: 7px;
}

.footer-font-size {
    font-size: 14px;
}

.container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home {
    margin: 0;
}

.footer {
    margin-top: 7px;
}

.custom-font-h4 {
    font-size: 20px;
    font-weight: 400;
}

.questionBtn {
    margin-top: 20px;
}

#dropdownMenuButton-one {
    font-size: 14px;
    opacity: .8;
    width: 140px!important;
}

#dropdownMenuButton-two {
    font-size: 14px;
    opacity: .8;
    width: 140px!important;
}

#dropdownMenuButton-three {
    font-size: 14px;
    opacity: .8;
    width: 140px!important;
}

#dropdownMenuButton-four {
    font-size: 14px;
    opacity: .8;
    width: 140px!important;
}

#dropdownMenuButton-five {
    font-size: 14px;
    opacity: .8;
    width: 140px!important;
}

#match-img {
    overflow: none;
    height: 140px;
    width: 140px;
}





